body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/541848004483876297/1EE7A918DA8DD6C0D20262B3AE21F4D60C7B8D5E/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.heading1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  font-size: 375%;
  font-style: italic;
  color: #42f4d7;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}


#bio {
  display: flex;
margin-right: 900px;
 font-size: 200%;
 color: #42f4d7;
   text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#bio2 {
  display: flex;
margin-right: 900px;
 font-size: 200%;
 color: #42f4d7;
   text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#bio3 {
  display: flex;
padding-top: 75px;
  font-size: 200%;
  color: #42f4d7;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#bio4 {
  display: flex;
padding-top: 75px;
  font-size: 200%;
  color: #42f4d7;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#bio5 {
  display: flex;
padding-top: 75px;
  font-size: 200%;
  color: #42f4d7;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#bio6 {
  display: flex;
padding-top: 75px;
  font-size: 200%;
  color: #42f4d7;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#pic1 {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#pic1 {
  perspective: 1000;
}
#pic1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#pic1:hover #pic1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}


#pic2 {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#pic2 {
  perspective: 1000;
}
#pic2_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#pic2:hover #pic2_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

#pic3 {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#pic3 {
  perspective: 1000;
}
#pic3_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#pic3:hover #pic3_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;

}

#pic4 {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#pic4 {
  perspective: 1000;
}
#pic4_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#pic4:hover #pic4_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

#pic5 {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#pic5 {
  perspective: 1000;
}
#pic5_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#pic5:hover #pic5_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

  #pic6 {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
  }
  #pic6 {
    perspective: 1000;
  }
  #pic6_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
  }
  #pic6:hover #pic6_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
  }
